.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px;
  background-color: #fff;
  box-shadow: 0 0 5px #dcdcdc;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}
.item:hover {
  cursor: move;
}
.icon {
  display: inline-block;
}
.name {
  margin-left: 4px;
}
.btn-modalTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  background-color: transparent;
}
