.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px;
  border: 1px solid #333;
  border-radius: 5px;
}
.icon {
  display: inline-block;
}
.name {
  margin-left: 4px;
}
.btn-modalTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  background-color: transparent;
}
