* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-modal-open="true"] {
  overflow: auto;
}

button {
  border: none;
  cursor: pointer;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  padding: 20px;
}

.boxContainer {
  overflow-x: scroll;
  display: flex;
  gap: 20px;
  margin-top: 16px;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .boxContainer {
    margin-top: 10px;
    padding: 0;
  }
}

/* モーダル表示中にbodyタグにつくクラス */
.ReactModal__Body--open {
  overflow: hidden;
}