* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 300px);
  padding: 20px;
}

.btn {
  border: none;
  cursor: pointer;
}
